body {
    min-height: 500px;
    padding-top: 70px;
}

p > img {
  width: 100%;
}

@media (max-width: 450px){
    .myJumbotron{
        overflow: hidden !important;
    }
    div.myJumbotron img{
        width: 100%;
    }
}