.homeLeftDiv { position: absolute; top: 100px; left: 10px; bottom: 50px; min-height: 500px; width: 250px; border: solid 1px #ccc; }
.homeRightDiv { position: absolute; left: 270px; top: 100px; right: 10px; bottom: 50px; min-height: 500px; min-width: 700px; border: solid 1px #ccc; }
.homeRightDiv iframe { width: 100%; border: none; height: 100%; }
.postsUl { list-style: none; padding: 10px; font-size: 13px; }
.postsUl li { margin: 5px 0px; line-height: 20px; background-color: #eee; cursor: default; }
.postsUl li:hover { background: #aaa; }
.titleSpan { color: #009966; }
.dateDiv { color: #aaa; font-family: Monaco, "Courier New", monospace; font-size: 80%; text-align: right; }
.selectedPostLi { background-color: #aaa !important; }