body, html {
  padding: 0px;
  margin: 0px;
}

.container {
  height: 948px;
  background: url("bg.png");
  background-size: 100% 100%;
  .content {
    margin: 0px auto;
    width: 970px;
    height:948px;
    background: url("content.png") center no-repeat;
    .titles {
      height: 80px;
      margin-left: 400px; 
      .title {
        display: inline-block;
        width: 125px;
        height: 80px;
        line-height: 80px;
        font-size: 18px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        &:hover {
          background: url("titlebg.png") center no-repeat;
        }
      }
    }
  }
}