@font-face {
  font-family: Dumb;
  src: url("2Dumb.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Arial", "Microsoft YaHei";
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background: url("header.png") center no-repeat;
  z-index: 999;
  .links-con {
    float: right;
    overflow: hidden;
    .links {
      float: left;
      height: 60px;
      margin-right: 70px;
      line-height: 60px;
      font-size: 16px;
      text-decoration: none;
      color: #676767;
      cursor: pointer;
      &:hover {
        color: #69dc36;
      }
      &.selected {
        color: #69dc36;
      }
    }
  }
}
.content {
  position: relative;
  top: 0%;
  width: 100%;
  height: 500%;
  &.transition {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
  }
  .section(@imgurl, @bgcolor) {
    position: relative;
    width: 100%;
    height: 20%;
    overflow: hidden;
    background: @bgcolor url(@imgurl) center no-repeat;
    .section-title {
      position: relative;
      margin-top: 80px;
      text-align: center;
      color: #e3e3e3;
      z-index: 99;
    }
  }
  .banner {
    .section("banner.png", #474747);
  }
  .about {
    .section("", #474747);
    .about-inner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1100px;
      height: 500px;
      margin: -250px 0 0 -550px;
      background: url("aboutinner.png") center no-repeat;
      .about-text {
        margin: 180px 0 0 420px;
        color: #e3e3e3;
      }
    }
  }
  .works {
    .section("", #1e1e1e);
    .works-inner {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -180px 0 0 -590px;
      width: 1180px;
      height: 370px;
      text-align: center;
      .works-demo {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 15px 10px;
        width: 250px;
        height: 155px;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        .works-img {
          width: 100%;
          height: 100%;
          transition: transform 0.5s ease;
          -moz-transition: -moz-transform 0.5s ease;
          -webkit-transition: -webkit-transform 0.5s ease;
          -o-transition: -o-transform 0.5s ease;
        }
        .works-bg {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
        }
        .works-title {
          position: relative;
          visibility: hidden;
          margin-top: -80px;
          color: #ffffff;
          font-size: 15px;
        }
        .works-class {
          position: relative;
          visibility: hidden;
          margin-top: 5px;
          color: #ffffff;
          font-size: 12px;
        }
        &:hover {
          .works-img {
            transform: scale3d(1.3, 1.3, 1.3);
            -moz-transform: scale3d(1.3, 1.3, 1.3);
            -webkit-transform: scale3d(1.3, 1.3, 1.3);
            -o-transform: scale3d(1.3, 1.3, 1.3);
          }
          .works-bg {
            background: rgba(0, 0, 0, 0.8);
          }
          .works-title {
            visibility: visible;
          }
          .works-class {
            visibility: visible;
          }
        }
      }
    }
    .more-works-btn {
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -85px;
      display: block;
      background: url("moreworks.png") center no-repeat;
      width: 170px;
      height: 50px;
    }
  }
  .collections {
    .section("", #474747);
    .collections-inner {
      position: absolute;
      left: 50%;
      top: 55%;
      margin: -302px 0 0 -700px;
      width: 1400px;
      height: 604px;
      background: url("collections.png") center no-repeat;
      .collections-list0 {
        position: absolute;
        padding: 40px;
        left: 128px;
        top: 20px;
        width: 345px;
        height: 160px;
        .collections-item0 {
          display: block;
          margin: 10px auto;
          text-decoration: none;
          color: #ffffff;
          font-size: 15px;
        }
      }
      .collections-list1 {
        position: absolute;
        padding: 20px;
        left: 424px;
        top: 380px;
        width: 296px;
        height: 167px;
        .collections-item1 {
          display: block;
          margin: 0 auto;
          text-decoration: none;
          color: #ffffff;
          font-size: 12px;
        }
      }
      .collections-list2 {
        position: absolute;
        left: 870px;
        top: 40px;
        width: 376px;
        height: 500px;
        .collections-item2 {
          display: inline-block;
          vertical-align: top;
          margin: 15px;
          width: 90px;
          height: 90px;
          background: url("iconsbg2.png");
          &.index0 {
            background-position: -4px -2px;
          }
          &.index1 {
            background-position: -108px -2px;
          }
          &.index2 {
            background-position: -211px -2px;
          }
          &.index3 {
            background-position: -4px -116px;
          }
          &.index4 {
            background-position: -108px -116px;
          }
          &.index5 {
            background-position: -211px -116px;
          }
          .bottom {
            margin-top: 125px;
          }
          &.index6 {
            .bottom;
            background-position: -4px -332px;
          }
          &.index7 {
            .bottom;
            background-position: -108px -332px;
          }
          &.index8 {
            .bottom;
            background-position: -211px -332px;
          }
        }
      }
    }
  }
  .contact {
    .section("contact.png", #474747);
    .contact-inner {
      position: absolute;
      left: 250px;
      top: 300px;
      .contact-text {
        font-family: "Dumb", "Microsoft YaHei";
      }
      .contact-icons {
        height: 30px;
        margin-top: 10px;
        .contact-twitter {
          display: inline-block;
          vertical-align: top;
          width: 30px;
          height: 30px;
          margin-right: 10px;
          background: url("contacticons.png");
          background-position: 0 0;
        }
        .contact-instagram {
          display: inline-block;
          vertical-align: top;
          width: 30px;
          height: 30px;
          margin-right: 10px;
          background: url("contacticons.png");
          background-position: -51px 0;
        }
        .contact-weibo {
          display: inline-block;
          vertical-align: top;
          width: 30px;
          height: 30px;
          margin-right: 10px;
          background: url("contacticons.png");
          background-position: -101px 0;
        }
        .contact-zhanku {
          display: inline-block;
          vertical-align: top;
          width: 30px;
          height: 30px;
          margin-right: 10px;
          background: url("contacticons.png");
          background-position: -152px 0;
        }
      }
    }
  }
}
.footer {
  position: fixed;
  top: 100%;
  left: 50%;
  margin-left: -700px;
  width: 1400px;
  height: 50px;
  background: url("footer.png") center no-repeat;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  &.show {
    margin-top: -50px;
  }
}

@keyframes arrow {
  0%   {bottom: 10px; opacity: 1}
  50%  {bottom: 0; opacity: 0.3}
  100% {bottom: 10px; opacity: 1}
}
@-webkit-keyframes arrow {
  0%   {bottom: 10px; opacity: 1}
  50%  {bottom: 0; opacity: 0.3}
  100% {bottom: 10px; opacity: 1}
}
@-moz-keyframes arrow {
  0%   {bottom: 10px; opacity: 1}
  50%  {bottom: 0; opacity: 0.3}
  100% {bottom: 10px; opacity: 1}
}
@-o-keyframes arrow {
  0%   {bottom: 10px; opacity: 1}
  50%  {bottom: 0; opacity: 0.3}
  100% {bottom: 10px; opacity: 1}
}
.down-arrow {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 25px;
  background: url("arrow.png") center no-repeat;
  background-size: 100% 100%;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: arrow;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: arrow;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
}

.right-nav {
  position: fixed;
  right: 0;
  top: 50%;
  .nav {
    width: 4px;
    height: 4px;
    margin: 10px;
    cursor: pointer;
    background: #aaaaaa;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    &.selected {
      width: 8px;
      height: 8px;
      margin: 10px 8px;
      background: transparent;
      box-shadow: 0 0 0 2px #69dc36;
      -webkit-box-shadow: 0 0 0 2px #69dc36;
      -o-box-shadow: 0 0 0 2px #69dc36;
      -moz-box-shadow: 0 0 0 2px #69dc36;
    }
  }
}