body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.container {
  position: relative;
  margin: 0px auto;
  width: 1024px;
  height: 948px;
  background: url("bg.png") center no-repeat;
}
.container .alink {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}
.container .header {
  position: relative;
  width: 1024px;
  height: 130px;
  text-align: center;
}
.container .header .home {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  cursor: pointer;
  width: 110px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background: url("home.png") -110px 0px no-repeat;
  transition: all 0.3s ease-out;
}
.container .header .home:hover {
  background: url("home.png") 0px 0px no-repeat;
}
.container .header .aboutme {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  cursor: pointer;
  width: 110px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background: url("aboutme.png") -110px 0px no-repeat;
  transition: all 0.3s ease-out;
}
.container .header .aboutme:hover {
  background: url("aboutme.png") 0px 0px no-repeat;
}
.container .header .works {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  cursor: pointer;
  width: 110px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background: url("works.png") -110px 0px no-repeat;
  transition: all 0.3s ease-out;
}
.container .header .works:hover {
  background: url("works.png") 0px 0px no-repeat;
}
.container .header .contact {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  cursor: pointer;
  width: 110px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background: url("contact.png") -110px 0px no-repeat;
  transition: all 0.3s ease-out;
}
.container .header .contact:hover {
  background: url("contact.png") 0px 0px no-repeat;
}
.container .header .zoe {
  display: inline-block;
  vertical-align: top;
  width: 193px;
  height: 135px;
  background: url("zoe.png") center no-repeat;
}
.container .girl {
  position: absolute;
  left: 36px;
  top: 190px;
  width: 208px;
  height: 588px;
  background: url("girl.png") center no-repeat;
}
.container .classa {
  position: absolute;
  left: 564px;
  top: 305px;
  width: 140px;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  color: #ffffff;
  font-family: Tekton Pro;
  text-align: center;
}
.container .classb {
  position: absolute;
  left: 645px;
  top: 381px;
  width: 140px;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  color: #ffffff;
  font-family: Tekton Pro;
  text-align: center;
}
.container .classc {
  position: absolute;
  left: 625px;
  top: 480px;
  width: 140px;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  color: #ffffff;
  font-family: Tekton Pro;
  text-align: center;
}
.container .classd {
  position: absolute;
  left: 540px;
  top: 570px;
  width: 140px;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  color: #ffffff;
  font-family: Tekton Pro;
  text-align: center;
}
.container .classe {
  position: absolute;
  left: 395px;
  top: 598px;
  width: 140px;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  color: #ffffff;
  font-family: Tekton Pro;
  text-align: center;
}
.container .classf {
  position: absolute;
  left: 270px;
  top: 550px;
  width: 140px;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  color: #000000;
  font-family: Tekton Pro;
  text-align: center;
}
.container .words {
  position: absolute;
  left: 120px;
  top: 770px;
  width: 540px;
  height: 70px;
  line-height: 20px;
  font-size: 20px;
  font-family: Tekton Pro;
}
.container .footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 1024px;
  height: 80px;
  line-height: 80px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.container .footer .thanks {
  float: left;
  height: 80px;
  margin-left: 220px;
  line-height: 80px;
  font-size: 10px;
  color: #ffffff;
}
.container .footer .names {
  float: right;
  height: 80px;
  margin-top: 20px;
  margin-right: 220px;
  line-height: 20px;
  font-size: 10px;
  color: #ffffff;
}
